{% extends "storeapp/base.html" %}

{% block content %}
    <h1>About 'Our Cozy Bookstore'</h1>
    <div class="container">
        <p>
            <h3>Our Vision</h3> 
            <p>
                To be the heartbeat of a reading community, 
                where stories come to life and every visitor leaves inspired to 
                explore a new perspective. 
                We envision a world where the physical book remains a timeless bridge 
                between people, ideas, and imagination.

            <h3>Our Mission</h3> 
            <p>Our mission is to cultivate a welcoming space that celebrates the joy of reading. 
                We are dedicated to hand picking a diverse collection of literature that sparks 
                curiosity, fosters empathy, and supports the creative voices of both today 
                and tomorrow.
            </p>
        </p>
    </div>
{% endblock content %}